section.advantages
   .advantages__container.container
      .advantages__header
         h2.advantages__title.title Наши преимущества

      .advantages__list
         .advantages__item
            .advantages__info
               img.advantages-icons-image(src=require('../../images/icons/advantages/advantages-item-01.svg') alt='Компоненты')
               h3.advantages__heading Компоненты
            .advantages__description 
               p.advantages__description-text Чтобы производить ленту и трубки капельного орошения высокого качества, мы заключили контракты на приобретение лучших современных компонентов. Нашими партнерами являются мировые лидеры в производстве сырья и эмиттеров (капельниц).
               p.advantages__description-text Именно такой подход позволил нам добиться высоких результатов и создавать продукцию, эффективность которой обуславливает ее востребованность. 



         .advantages__item
            .advantages__info
               img.advantages-icons-image(src=require('../../images/icons/advantages/advantages-item-02.svg') alt='Технологии')
               h3.advantages__heading Технологии
            .advantages__description 
               p.advantages__description-text Наши инновационные технологии являются вашим конкурентным преимуществом на сегодня и в будущем.
               p.advantages__description-text В технологическом процессе влияние человеческого фактора сведено к минимуму. 
               p.advantages__description-text Немалое внимание мы уделили не только качеству продукции, но и созданию современного комфортного сервиса.

         .advantages__item
            .advantages__info
               img.advantages-icons-image(src=require('../../images/icons/advantages/advantages-item-03.svg') alt='Производство')
               h3.advantages__heading Производство
            .advantages__description 
               p.advantages__description-text Осуществляется тщательный контроль, обзор и переоценка всех спецификаций продукции. 
               p.advantages__description-text Экономная, практичная и передовая структура производства компании «АгроПолимер» позволяет выпускать ленту и трубку капельного орошения мирового уровня.
   
      .advantages__guarantee
         .advantages__subtitle Гарантируем следующее:
         .advantages__guarantee-list
            .advantages__guarantee-item
               img.advantages__guarantee-image(src=require('../../images/icons/advantages/advantages-item-04.svg') alt='Безупречность качества продукции')
               p.advantages__guarantee-text Безупречность качества продукции
            .advantages__guarantee-item
               img.advantages__guarantee-image(src=require('../../images/icons/advantages/advantages-item-05.svg') alt='Выгодное сотрудничество и персональный подход')
               p.advantages__guarantee-text Выгодное сотрудничество и персональный подход
            .advantages__guarantee-item
               img.advantages__guarantee-image(src=require('../../images/icons/advantages/advantages-item-06.svg') alt='Своевременность поставки продукции')
               p.advantages__guarantee-text Своевременность поставки продукции
   
      .advantages__cooperation
         .advantages__cooperation-item
            p.advantages__cooperation-text Приглашаем к сотрудничеству компании, которые занимаются проектированием и монтажом капельного полива
         .advantages__cooperation-item
            p.advantages__cooperation-text С нами получиться создавать экономичные и эффективные системы орошения, характеризующиеся долговечностью и надежностью
         .advantages__cooperation-item
            p.advantages__cooperation-text Для уточнения вопросов и получения дополнительной информации просим связаться менеджерами консультантами