.promo__slider-container
   .promo__slider-wrapper
      .slider.promo__slider
         img.promo__slider-image(src=require('../../images/img/promo-slider/promo-slider-img-1.png') alt='Промо изображение 1')
         img.promo__slider-image(src=require('../../images/img/promo-slider/promo-slider-img-2.png') alt='Промо изображение 2')
         img.promo__slider-image(src=require('../../images/img/promo-slider/promo-slider-img-3.png') alt='Промо изображение 3')
         img.promo__slider-image(src=require('../../images/img/promo-slider/promo-slider-img-4.png') alt='Промо изображение 4')
         img.promo__slider-image(src=require('../../images/img/promo-slider/promo-slider-img-5.png') alt='Промо изображение 5')
         img.promo__slider-image(src=require('../../images/img/promo-slider/promo-slider-img-6.png') alt='Промо изображение 6')
         img.promo__slider-image(src=require('../../images/img/promo-slider/promo-slider-img-7.png') alt='Промо изображение 7')
         img.promo__slider-image(src=require('../../images/img/promo-slider/promo-slider-img-8.png') alt='Промо изображение 8')
         img.promo__slider-image(src=require('../../images/img/promo-slider/promo-slider-img-9.png') alt='Промо изображение 9')
         img.promo__slider-image(src=require('../../images/img/promo-slider/promo-slider-img-10.png') alt='Промо изображение 10')
   .promo-icons 
      .promo-icons-item
         img.promo-icons-image(src=require('../../images/icons/promo/promo-icon-01.svg') alt='Безупречность качества продукции')
         p.promo-icons-text Безупречность качества продукции
      .promo-icons-item
         img.promo-icons-image(src=require('../../images/icons/promo/promo-icon-02.svg') alt='Безупречность качества продукции')
         p.promo-icons-text Своевременность поставки продукции
      .promo-icons-item
         img.promo-icons-image(src=require('../../images/icons/promo/promo-icon-03.svg') alt='Безупречность качества продукции')
         p.promo-icons-text Выгодные условия сотрудничества 