doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Производство капельных лент и трубок | НПО «АгроПолимер»
      link(rel="shortcut icon" type="image/x-icon" href=require("../../images/icons/favicon.svg"))
   body.body 
      .page__wrapper
         include ../sections/header-contacts
         include ../sections/header
         section.drip-about
            .drip-about__container.container
               h2.drip-about__title.title Капельная трубка

               .drip-about__card
                  .drip-about__text
                     p.drip-about__description Капельная трубка AQUA.DRIP-T производства ООО НПО Агрополимер, отличается повышенными эксплуатационными характеристиками, существенно превосходящими отечественные и импортные аналоги. Специально подобранный состав исходного сырья, технологические добавки, эмиттеры от мировых лидеров индустрии, все это является залогом качества нашей продукции.

                     h3.drip-about__subtitle Сырьё
                     p.drip-about__detail Для производства капельной трубки используется исключительно первичное сырьё HPDE и LLDPE компании Sabic и технологические добавки компании ООО НПФ «БАРС-2». Применение этого сырья обуславливает высокие показатели физико-механических свойств (прочность, гибкость) трубки, а также обеспечивает защиту от ультрафиолетового воздействия.

                     h3.drip-about__subtitle Трубки и эмиттеры
                     p.drip-about__detail Используемые в производстве трубки AQUA.DRIP-T эмиттеры известного бренда DRTS имеют преимущества по параметрам однородности потока, длине вылива, устойчивости к засорению. Трубки AQUA.DRIP-T проходят периодические испытания на прочность и качество вылива на специально спроектированном оборудовании.

                  .drip-about__image-block
                     img.drip-about__image(src=require('../../images/img/irrigation/irrigation-item-01.png') alt='Капельная трубка AQUA.DRIP-T')

               .drip-about__card.drip-about__wrapper
                  .drip-about__head
                     .drip-about__name
                        h3.drip-about__subtitle Monsoon
                        p.drip-about__detail 
                        ul.drip-about__list 
                           li.drip-about__item Высокая устойчивость к засорению. Благодаря внутреннему поднятому фильтру в каждом эмиттере
                           li.drip-about__item Равномерность потока на выходе капельницы. Значение параметра CV &lt; 5%
                           li.drip-about__item Устойчив к ультрафиолетовому излучению и воздействию удобрений
                     .drip-about__wrapper-block
                        img.drip-about__image(src=require('../../images/img/drip/drip-item-01.png') alt='Капельная трубка Monsoon')

                  .drip-about__body
                     .drip-about__body-block
                        img.drip-about__image(src=require('../../images/img/drip/drip-coral-01.png') alt='Капельная трубка Monsoon график')
                     .drip-about__descr
                        .drip-about__details
                           p.drip-about__detail Запатентованная технология Omniflow 
                           p.drip-about__detail устраняет слепые зоны в лабиринте для обеспечения постоянного течения и сокращения осаждения взвешенных твердых частиц с целью предотвращения закупоривания

               .drip-about__card.drip-about__wrapper
                  .drip-about__head
                     .drip-about__name
                        h3.drip-about__subtitle Sandguard 
                        p.drip-about__detail Для неподготовленной артезианской и колодезной воды 
                        ul.drip-about__list 
                           li.drip-about__item Равномерность вылива и способсть снижать потери давления на длинных участках трубки
                           li.drip-about__item Благодаря эмиттерам в трубке с широким поперечным сечением потока и тремя различными фильтрами
                           li.drip-about__item Равномерность потока на выходе капельницыЗначение параметра CV &lt; 3%
                           li.drip-about__item Устойчивость трубки к искривлениям, ультрафиолетовому излучению и воздействию удобрений
                     .drip-about__wrapper-block
                        img.drip-about__image(src=require('../../images/img/drip/drip-item-02.png') alt='Капельная трубка Sandguard')

                  .drip-about__body
                     .drip-about__body-block
                        img.drip-about__image(src=require('../../images/img/drip/drip-coral-02.png') alt='Капельная трубка Sandguard график')
                     .drip-about__descr
                        .drip-about__details
                           p.drip-about__detail Эмиттер Sanguard 
                           p.drip-about__detail Разработан специально для работы с колодезной водой и имеет особо большую площадь поперечного сечения потока, длинный лабиринт и поднятый фильтр
                           p.drip-about__detail Таким образом эта капельница является превосходным решением для сельскохозяйственного применения с отличной устойчивостью к закупориванию
                  
               .drip-about__card.drip-about__wrapper
                  .drip-about__head
                     .drip-about__name
                        h3.drip-about__subtitle Storm – PC (компенсированный) 
                        p.drip-about__detail Для сложного рельефа 
                        ul.drip-about__list 
                           li.drip-about__item Возможность делать удобные боковые ответвления
                           li.drip-about__item Одинаковую скорость вылива при перепадах давления за счет автоматической регулировки
                           li.drip-about__item Устойчивость трубки к искривлениям, ультрафиолетовому излучению и воздействию удобрений
                     .drip-about__wrapper-block
                        img.drip-about__image(src=require('../../images/img/drip/drip-item-03.png') alt='Капельная трубка Storm – PC')
                  .drip-about__body
                     .drip-about__body-block
                        img.drip-about__image(src=require('../../images/img/drip/drip-coral-03.png') alt='Капельная трубка Storm – PC график')
                     .drip-about__descr
                        .drip-about__details
                           p.drip-about__detail Эмиттер Storm-PC 
                           p.drip-about__detail Работает с высокими характеристиками даже при работе под наклоном и с особо длинными боковыми ответвлениями
                           p.drip-about__detail Автоматическая регулировка обеспечивает одинаковую скорость потока на широком спектре давлений, создавая тем самым идеальное решение для работы под наклоном или в случае особо длинных линий орошения в области сельского хозяйства
         include ../sections/footer