doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Производство капельных лент и трубок | НПО «АгроПолимер»
      link(rel="shortcut icon" type="image/x-icon" href=require("../../images/icons/favicon.svg"))
   body.body 
      .page__wrapper
         include ../sections/header-contacts
         include ../sections/header
      section.partners
         .partners__container.container
            h2.partners__title.title Партнеры

            .partners__list
               .partners__item
                  .partners__info
                     h3.partners__name Сибур - Передовые Нефтехимические Решения
                     p.partners__description Сибур занимает лидирующие позиции в нефтехимической промышленности России, концентрируясь на создании высококачественных материалов из побочных продуктов нефтедобычи, вместо традиционного топлива. Компания производит пластики, эластомеры, полипропилен и полиэтилен, а также синтетические каучуки, обеспечивая разнообразие продукции для различных отраслей. 
                     p.partners__description Компания оперирует в трех основных бизнес-сегментах, подчеркивая свою роль в инновациях и устойчивом развитии за счет эффективного использования ресурсов. Миссия компании направлена на применение передовых технологий в производстве нефтехимических продуктов, вносящих вклад в создание устойчивого будущего.
                  .partners__logo
                     img(src=require('../../images/icons/partners/partners-item-01.png') alt='Сибур logo')

               .partners__item
                  .partners__info
                     h3.partners__name Weifang Kaide Plastics Machinery Co., Ltd
                     p.partners__description Эксперт в экструзии пластиковых труб с 2001 года. Специализируется на высокоскоростных и композитных трубах, акцентируя внимание на эффективности и экономии энергии. 
                     p.partners__description В сотрудничестве с Пекинским химическим университетом, KAIDE разработала первую в Китае линию для производства высокоскоростных полипропиленовых труб в 2003 году, оказав влияние на отрасль.
                  .partners__logo
                     img(src=require('../../images/icons/partners/partners-item-02.png') alt='Kaide logo')

               .partners__item
                  .partners__info
                     h3.partners__name Ротоснаб
                     p.partners__description Российский поставщик пресс-форм и изготовитель полимерных изделий с собственной производственной базой и разработкой. 
                     p.partners__description С 2001 года компания обеспечивает комплексные решения в проектировании и производстве, включая пресс-формы для более чем 250 компаний. С оборудованием, включающим станки и роботов, Ротоснаб эффективно выполняет заказы любого размера, подтверждая свою надежность как партнера.
                  .partners__logo
                     img(src=require('../../images/icons/partners/partners-item-03.png') alt='Ротоснаб logo')

               .partners__item
                  .partners__info
                     h3.partners__name GLOBAL COLORS
                     p.partners__description Ведущий европейский производитель суперконцентратов для окрашивания полимеров. Продукция компании пользуется спросом в 52 странах мира. 
                     p.partners__description В России предприятие осуществляет деятельность с 2006 года, за 12 лет своего существования отделения в Москве и Санкт-Петербурге разработали свыше сотни специальных добавок и больше 3 000 новых оттенков.
                  .partners__logo
                     img(src=require('../../images/icons/partners/partners-item-04.png') alt='GLOBAL COLORS logo')

               .partners__item
                  .partners__info
                     h3.partners__name ООО «Рент-Кэпитл»
                     p.partners__description Один из лидеров в России по изготовлению и доставке экологичной упаковки и вспомогательных материалов. Обеспечение высокого качества продукции с отличным сервисом за конкурентные цены на рынке.
                     p.partners__description Принцип компании – тщательная проработка всех деталей реализации заказов и индивидуальный подход к решению поставленных задач.
                  .partners__logo
                     img(src=require('../../images/icons/partners/partners-item-05.png') alt='Промо изображение 10')
      include ../sections/footer