doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Производство капельных лент и трубок | НПО «АгроПолимер»
      link(rel="shortcut icon" type="image/x-icon" href=require("../../images/icons/favicon.svg"))
   body.body 
      .page__wrapper
         include ../sections/header-contacts
         include ../sections/header

         section.products
            .products__container.container
               h2.products__title.title Продукция
               .products__lists 
                  .product__item
                     h3.product__name Эмиттерная капельная лента 
                     p.product__name-span.product__span1 0,64 л/ч
                     .product__body
                        .product__descr
                           .product__image
                              img(src=require('../../images/img/products/product-item-img-01.png') alt='Эмиттерная капельная лента, 0,64 л/ч')
                           .product__specs
                              p.product__specs-text Диаметр: 16.1 мм
                              p.product__specs-text Толщина стенки: 0.15-0.25 мм (6-10 милс)
                              p.product__specs-text Шаг капельниц: 10, 20, 30, 40, 50 см
                              p.product__specs-text Рабочее давление: 0.5 - 1 бар
                              p.product__specs-text Длина катушки: 2030; 3030 м
                              p.product__specs-text Норма вылива одной капельницы: 0.64 л/ч
                        .product__chart
                           p.product__chart-text Максимальная рекомендуемая длина капельной ленты (м) При равномерности полива – 90%, давлении – 1,0 бар, уклоне – 0%. ⌀ 16,1 мм – 0,64 л/ч
                           img(src=require('../../images/img/products/product-chart-img-01.png') alt='Капельная лента')
                     
                  .product__item
                     h3.product__name Эмиттерная капельная лента 
                     p.product__name-span.product__span2 1,0 л/ч
                     .product__body
                        .product__descr
                           .product__image
                              img(src=require('../../images/img/products/product-item-img-01.png') alt='Эмиттерная капельная лента, 0,64 л/ч')
                           .product__specs
                              p.product__specs-text Диаметр: 16.1 мм
                              p.product__specs-text Толщина стенки: 0.15-0.25 мм (6-10 милс)
                              p.product__specs-text Шаг капельниц: 10, 20, 30, 40, 50 см
                              p.product__specs-text Рабочее давление: 0.5 - 1 бар
                              p.product__specs-text Длина катушки: 2030; 3030 м
                              p.product__specs-text Норма вылива одной капельницы: 1,0 л/ч
                        .product__chart
                           p.product__chart-text Максимальная рекомендуемая длина капельной ленты (м) При равномерности полива – 90%, давлении – 1,0 бар, уклоне – 0%. ⌀ 16,1 мм – 0,64 л/ч
                           img(src=require('../../images/img/products/product-chart-img-01.png') alt='Капельная лента')

                  .product__item
                     h3.product__name Эмиттерная капельная лента 
                     p.product__name-span.product__span3 1,6 л/час
                     .product__body
                        .product__descr
                           .product__image
                              img(src=require('../../images/img/products/product-item-img-01.png') alt='Эмиттерная капельная лента, 0,64 л/ч')
                           .product__specs
                              p.product__specs-text Диаметр: 16.1 мм
                              p.product__specs-text Толщина стенки: 0.15-0.25 мм (6-10 мил)
                              p.product__specs-text Шаг капельниц: 10, 20, 30, 40, 50 см
                              p.product__specs-text Рабочее давление: 0.51 бар
                              p.product__specs-text Длина катушки: 2030; 3030 м
                              p.product__specs-text Норма вылива одной капельницы: 1,6 л/час
                        .product__chart
                           p.product__chart-text Максимальная рекомендуемая длина капельной ленты (м) При равномерности полива – 90%, давлении – 1,0 бар, уклоне – 0%. ⌀ 16,1 мм – 0,64 л/ч
                           img(src=require('../../images/img/products/product-chart-img-01.png') alt='Капельная лента')
                        
                  .product__item
                     h3.product__name Трубка капельного полива 
                     p.product__name-span с эмиттером Sandguard
                     .product__body.product__body-card
                        .product__descr
                           .product__image
                              img(src=require('../../images/img/products/product-item-img-04.png') alt='Трубка капельного полива Sandguard')
                           .product__specs
                              p.product__specs-text.product__tube Диаметр: 16, 20 мм
                              p.product__specs-text.product__tube Толщина стенки: 0,5-1,2 мм
                              p.product__specs-text.product__tube Рабочее давление: до 4 бар
                              p.product__specs-text.product__tube Длина бухты: 100 - 500 м
                              p.product__specs-text.product__tube Вылив: 2/4 литра
                        .product__chart.product__chart-card
                           .product__chart-block
                              p.product__chart-text — Равномерность вылива и способность снижать потери давления на длинных участках трубки
                              p.product__chart-text — Равномерность потока на выходе капельницы. Значение параметра CV &lt; 3%
                              p.product__chart-text — Устойчивость трубки к искривлениям, ультрафиолетовому излучению и воздействию удобрений
                           img(src=require('../../images/img/products/product-chart-img-04.png') alt='Трубка капельного полива')

                  .product__item
                     h3.product__name Трубка капельного полива 
                     p.product__name-span с эмиттером Monsoon
                     .product__body.product__body-card
                        .product__descr
                           .product__image
                              img(src=require('../../images/img/products/product-item-img-04.png') alt='Трубка капельного полива Monsoon')
                           .product__specs
                              p.product__specs-text.product__tube Диаметр: 16, 20 мм
                              p.product__specs-text.product__tube Толщина стенки: 0,5-1,2 мм
                              p.product__specs-text.product__tube Рабочее давление: до 4 бар
                              p.product__specs-text.product__tube Длина бухты: 100 - 500 м
                              p.product__specs-text.product__tube Вылив: 2/4 литра
                        .product__chart.product__chart-card
                           .product__chart-block
                              p.product__chart-text — Возможность делать удобные боковые ответвления
                              p.product__chart-text — Одинаковую скорость вылива при перепадах давления за счет автоматической регулировки
                              p.product__chart-text — Устойчивость трубки к искривлениям, ультрафиолетовому излучению и воздействию удобрений
                           img(src=require('../../images/img/products/product-chart-img-05.png') alt='Трубка капельного полива')
                     
                  .product__item
                     h3.product__name Трубка капельного полива 
                     p.product__name-span с эмиттером Storm-PC
                     .product__body.product__body-card
                        .product__descr
                           .product__image
                              img(src=require('../../images/img/products/product-item-img-04.png') alt='Трубка капельного полива Sandguard')
                           .product__specs
                              p.product__specs-text.product__tube Диаметр: 16, 20 мм
                              p.product__specs-text.product__tube Толщина стенки: 0,8 мм
                              p.product__specs-text.product__tube Рабочее давление: до 4 бар
                              p.product__specs-text.product__tube Длина бухты: 100 - 500 м
                              p.product__specs-text.product__tube Вылив: 2/4 литра
                        .product__chart.product__chart-card
                           .product__chart-block
                              p.product__chart-text — Высокая устойчивость к засорению. Благодаря внутреннему поднятому фильтру в каждом эмиттере
                              p.product__chart-text — Равномерность потока на выходе капельницы. Значение параметра CV &lt; 5%
                              p.product__chart-text — Устойчивость трубки к искривлениям, ультрафиолетовому излучению и воздействию удобрений
                           img(src=require('../../images/img/products/product-chart-img-06.png') alt='Трубка капельного полива Storm-PC')
         include ../sections/contacts
         include ../sections/footer